# 2.7 Présentation des tableaux Numpy

Dans la 2ème partie de ce livre, nous étudierons les méthodes numériques en utilisant Python. Nous utiliserons tableau/matrice beaucoup plus loin dans le livre. Par conséquent, nous allons présenter ici la manière la plus courante de gérer les tableaux en Python à l'aide du [module Numpy](http://www.numpy.org). Numpy est probablement le module de calcul numérique le plus fondamental de Python.

NumPy est important en calcul scientifique, il est codé à la fois en Python et en C (pour la vitesse). Sur son site Web, quelques fonctionnalités importantes de Numpy sont répertoriées :

*un puissant objet tableau à N dimensions* fonctions (diffusion) sophistiquées
*outils d'intégration de code C/C++ et Fortran* capacités utiles d'algèbre linéaire, de transformation de Fourier et de nombres aléatoires

Ici nous ne vous présenterons que le tableau Numpy qui est lié à la structure des données, mais nous aborderons progressivement d'autres aspects de Numpy dans les chapitres suivants.

Pour utiliser le module Numpy, nous devons d'abord l'importer. Une manière conventionnelle de l'importer consiste à utiliser "np" comme nom abrégé.

In [1]:
import numpy as np

**ATTENTION !** Bien sûr, vous pouvez l'appeler n'importe quel nom, mais conventionnellement, "np" est accepté par l'ensemble de la communauté et c'est une bonne pratique de l'utiliser à des fins évidentes.

Pour définir un tableau en Python, vous pouvez utiliser la fonction *np.array* pour convertir une liste.

**ESSAYEZ-LE !** Créez les tableaux suivants :

$x = \begin{pmatrix} 
1 & 4 & 3 \\
\end{pmatrix}$

$y = \begin{pmatrix} 
1 & 4 & 3 \\
9 & 2 & 7 \\
\end{pmatrix}$

In [2]:
x = np.array([1, 4, 3])
x

array([1, 4, 3])

In [3]:
y = np.array([[1, 4, 3], [9, 2, 7]])
y

array([[1, 4, 3],
       [9, 2, 7]])

**REMARQUE !** Un tableau 2D peut utiliser des listes imbriquées pour représenter, la liste interne représentant chaque ligne.

Nous aimerions souvent connaître la taille ou la longueur d’un tableau. L'attribut array *shape* est appelé sur un tableau M et renvoie un tableau 2 × 3 où le premier élément est le nombre de lignes de la matrice M et le deuxième élément est le nombre de colonnes dans M. Remarque que la sortie de l'attribut *shape* est un tuple. L'attribut *size* est appelé sur un tableau M et renvoie le nombre total d'éléments dans la matrice M.

**ESSAYEZ-LE !** Recherchez les lignes, les colonnes et la taille totale du tableau y.

In [4]:
y.shape

(2, 3)

In [5]:
y.size

6

**REMARQUE !** Vous remarquerez peut-être la différence : nous utilisons uniquement *y.shape* au lieu de *y.shape()*, car <*>shape<*> est un attribut plutôt qu'une méthode dans cet objet tableau. Nous présenterons davantage la programmation orientée objet dans un chapitre ultérieur. Pour l'instant, vous devez vous rappeler que lorsque nous appelons une méthode dans un objet, nous devons utiliser les parenthèses, alors que l'attribut ne le fait pas.

Très souvent, nous aimerions générer des tableaux ayant une structure ou un modèle. Par exemple, nous pouvons souhaiter créer le tableau z = [1 2 3 ... 2000]. Il serait très fastidieux de taper la description complète de z en Python. Pour générer des tableaux ordonnés et régulièrement espacés, il est utile d'utiliser la fonction *arange* dans Numpy.

**ESSAYEZ-LE !** Créez un tableau *z* de 1 à 2000 avec un incrément de 1.

In [6]:
z = np.arange(1, 2000, 1)
z

array([   1,    2,    3, ..., 1997, 1998, 1999])

En utilisant *np.arange*, nous pourrions créer facilement undefinedz*_. Les deux premiers nombres sont le début et la fin de la séquence, et le dernier est l'incrément. Puisqu'il est très courant d'avoir un incrément de 1, si aucun incrément n'est spécifié, Python utilisera une valeur par défaut de 1. Par conséquent,*_np.arange(1, 2000)undefined aura le même résultat que *np. arange(1, 2000, 1)*. Des incréments négatifs ou non entiers peuvent également être utilisés. Si l'incrément "manque" la dernière valeur, il ne s'étendra que jusqu'à la valeur juste avant la valeur finale. Par exemple, *x = np.arange(1,8,2)* serait [1, 3, 5, 7].

**ESSAYEZ-LE !** Générez un tableau avec [0.5, 1, 1.5, 2, 2.5].

In [7]:
np.arange(0.5, 3, 0.5)

array([ 0.5,  1. ,  1.5,  2. ,  2.5])

Parfois, nous voulons garantir un point de début et de fin pour un tableau tout en conservant des éléments régulièrement espacés. Par exemple, nous pouvons vouloir un tableau qui commence à 1, se termine à 8 et comporte exactement 10 éléments. Pour cela vous pouvez utiliser la fonction *np.linspace*. *linspace* prend trois valeurs d'entrée séparées par des virgules. Donc *A = linspace(a,b,n)* génère un tableau de n éléments équidistants commençant à a et se terminant à b.

**ESSAYEZ-LE !** Utilisez *linspace* pour générer un tableau commençant à 3, se terminant à 9 et contenant 10 éléments.

In [8]:
np.linspace(3, 9, 10)

array([ 3.        ,  3.66666667,  4.33333333,  5.        ,  5.66666667,
        6.33333333,  7.        ,  7.66666667,  8.33333333,  9.        ])

L'accès au tableau numpy 1D est similaire à ce que nous avons décrit pour les listes ou les tuples, il a un index pour indiquer l'emplacement. Par exemple:

In [9]:
# get the 2nd element of x
x[1]

4

In [10]:
# get all the element after the 2nd element of x
x[1:]

array([4, 3])

In [11]:
# get the last element of x
x[-1]

3

Pour les tableaux 2D, c'est légèrement différent, puisque nous avons des lignes et des colonnes. Pour accéder aux données d'un tableau 2D M, nous devons utiliser M[r, c], que la ligne r et la colonne c soient séparées par une virgule. C'est ce qu'on appelle l'indexation de tableau. Le r et le c peuvent être un nombre unique, une liste, etc. Si vous pensez uniquement à l’index de ligne ou à l’index de colonne, cela ressemble au tableau 1D. Utilisons le $y = \begin{pmatrix} 
1 & 4 & 3 \\
9 & 2 & 7 \\
\end{pmatrix}$ comme exemple.

**ESSAYEZ-LE !** Obtenez l'élément de la première ligne et de la 2ème colonne du tableau *y*.

In [12]:
y[0,1]

4

**ESSAYEZ-LE !** Obtenez la première ligne du tableau *y*.

In [13]:
y[0, :]

array([1, 4, 3])

**ESSAYEZ-LE !** Obtenez la dernière colonne du tableau *y*.

In [14]:
y[:, -1]

array([3, 7])

**ESSAYEZ-LE !** Obtenez la première et la troisième colonne du tableau *y*.

In [15]:
y[:, [0, 2]]

array([[1, 3],
       [9, 7]])

Il existe des tableaux prédéfinis qui sont vraiment utiles. Par exemple, *np.zeros*, *np.ones* et *np.empty* sont 3 fonctions utiles. Voyons les exemples.

**ESSAYEZ-LE !** Générez un tableau de 3 par 5 avec tous les 0.

In [16]:
np.zeros((3, 5))

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

**ESSAYEZ-LE !** Générez un tableau de 5 par 3 avec tous les éléments à 1.

In [17]:
np.ones((5, 3))

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

**REMARQUE !** La forme du tableau est définie dans un tuple avec la ligne comme premier élément et la colonne comme second. Si vous n'avez besoin que d'un tableau 1D, il ne peut s'agir que d'un seul nombre en entrée : *np.ones(5)*.

**ESSAYEZ-LE !** Générez un tableau vide 1D avec 3 éléments.

In [18]:
np.empty(3)

array([ 0.,  0.,  0.])

**REMARQUE !** Le tableau vide n'est pas vraiment vide, il est rempli de très petits nombres aléatoires.

Vous pouvez réaffecter une valeur d'un tableau à l'aide de l'indexation du tableau et de l'opérateur d'affectation. Vous pouvez réaffecter plusieurs éléments à un seul numéro à l'aide de l'indexation de tableau sur le côté gauche. Vous pouvez également réaffecter plusieurs éléments d'un tableau à condition que le nombre d'éléments affectés et le nombre d'éléments affectés soient les mêmes. Vous pouvez créer un tableau en utilisant l'indexation de tableau.

**ESSAYEZ-LE !** Soit a = [1, 2, 3, 4, 5, 6]. Réaffectez le quatrième élément de A à 7. Réaffectez les premier, deuxième et troisième éléments à 1. Réaffectez les deuxième, troisième et quatrième éléments à 9, 8 et 7.

In [19]:
a = np.arange(1, 7)
a

array([1, 2, 3, 4, 5, 6])

In [20]:
a[3] = 7
a

array([1, 2, 3, 7, 5, 6])

In [21]:
a[:3] = 1
a

array([1, 1, 1, 7, 5, 6])

In [22]:
a[1:4] = [9, 8, 7]
a

array([1, 9, 8, 7, 5, 6])

**ESSAYEZ-LE !** Créez un tableau zéro b avec une forme 2 par 2 et définissez $b = \begin{pmatrix} 
1 & 2 \\
3 & 4  \\
\end{pmatrix}$ en utilisant l'indexation du tableau.

In [23]:
b = np.zeros((2, 2))
b[0, 0] = 1
b[0, 1] = 2
b[1, 0] = 3
b[1, 1] = 4
b

array([[ 1.,  2.],
       [ 3.,  4.]])

**ATTENTION !** Bien que vous puissiez créer un tableau à partir de zéro en utilisant l'indexation, nous vous le déconseillons. Cela peut vous dérouter et les erreurs seront plus difficiles à trouver dans votre code plus tard. Par exemple, b[1, 1] = 1 donnera le résultat $b = \begin{pmatrix} 
0 & 0 \\
0 & 1  \\
\end{pmatrix}$, ce qui est étrange car b[0, 0], b[0, 1] et b[1, 0] n'ont jamais été spécifiés.

L'arithmétique de base est définie pour les tableaux. Cependant, il existe des opérations entre un scalaire (un seul nombre) et un tableau et des opérations entre deux tableaux. Nous commencerons par les opérations entre un scalaire et un tableau. Pour illustrer, soit c un scalaire et b une matrice.

*b + c*, *b âˆ' c*, *b* c*et*b / c*ajoute a à chaque élément de b, soustrait c de chaque élément de b, multiplie chaque élément de b par c et divise chaque élément de b par c, respectivement.**ESSAYEZ-LE !** Laissez $b = \begin{pmatrix} 
1 & 2 \\
3 & 4  \\
\end{pmatrix}$. Ajoutez et soustrayez 2 à b. Multipliez et divisez b par 2. Mettez au carré chaque élément de b. Soit c un scalaire. Vérifiez par vous-même la réflexivité de l’addition et de la multiplication scalaire : b + c = c + b et cb = bc.

In [24]:
b + 2

array([[ 3.,  4.],
       [ 5.,  6.]])

In [25]:
b - 2

array([[-1.,  0.],
       [ 1.,  2.]])

In [26]:
2 * b

array([[ 2.,  4.],
       [ 6.,  8.]])

In [27]:
b / 2

array([[ 0.5,  1. ],
       [ 1.5,  2. ]])

In [28]:
b**2

array([[  1.,   4.],
       [  9.,  16.]])

Décrire les opérations entre deux matrices est plus compliqué. Soient b et d deux matrices de même taille. b – d prend chaque élément de b et soustrait l’élément correspondant de d. De même, b + d ajoute chaque élément de d à l’élément correspondant de b.

**ESSAYEZ-LE !** Laissez $b = \begin{pmatrix} 
1 & 2 \\
3 & 4  \\
\end{pmatrix}$ et $d = \begin{pmatrix} 
3 & 4 \\
5 & 6  \\
\end{pmatrix}$. Calculez b + d et b - d.

In [29]:
b = np.array([[1, 2], [3, 4]])
d = np.array([[3, 4], [5, 6]])

In [30]:
b + d

array([[ 4,  6],
       [ 8, 10]])

In [31]:
b - d

array([[-2, -2],
       [-2, -2]])

Il existe deux types différents de multiplication (et de division) matricielle. Il existe une multiplication matricielle élément par élément et une multiplication matricielle standard. Pour cette section, nous montrerons uniquement comment fonctionnent la multiplication et la division matricielles élément par élément. La multiplication matricielle standard sera décrite dans le chapitre suivant sur l'algèbre linéaire. Python prend le symbole *pour signifier une multiplication élément par élément. Pour les matrices b et d de même taille, b* d prend chaque élément de b et le multiplie par l'élément correspondant de d. Il en va de même pour / et **.**ESSAYEZ-LE !**Calculez b * d, b / d et b**d.

In [32]:
b * d

array([[ 3,  8],
       [15, 24]])

In [33]:
b / d

array([[ 0.33333333,  0.5       ],
       [ 0.6       ,  0.66666667]])

In [34]:
b**d

array([[   1,   16],
       [ 243, 4096]])

La transposée d'un tableau, b, est un tableau, d, où b[i, j] = d[j, i]. En d’autres termes, la transposition change les lignes et les colonnes de b. Vous pouvez transposer un tableau en Python en utilisant la méthode tableau *T*.

**ESSAYEZ-LE !** Calculez la transposition du tableau b.

In [35]:
b.T

array([[1, 3],
       [2, 4]])

Numpy a de nombreuses fonctions arithmétiques, telles que sin, cos, etc., qui peuvent prendre des tableaux comme arguments d'entrée. La sortie est la fonction évaluée pour chaque élément du tableau d'entrée. Une fonction qui prend un tableau en entrée et exécute la fonction dessus est dite **vectorisée**.

**ESSAYEZ-LE !** Calculez *np.sqrt* pour x = [1, 4, 9, 16].

In [36]:
x = [1, 4, 9, 16]
np.sqrt(x)

array([ 1.,  2.,  3.,  4.])

Les opérations logiques ne sont définies qu'entre un scalaire et un tableau et entre deux tableaux de même taille. Entre un scalaire et un tableau, l'opération logique est effectuée entre le scalaire et chaque élément du tableau. Entre deux tableaux, l’opération logique s’effectue élément par élément.

**ESSAYEZ-LE !** Vérifiez quels éléments du tableau x = [1, 2, 4, 5, 9, 3] sont supérieurs à 3. Vérifiez quels éléments de x sont plus grands que l'élément correspondant de y = [0, 2, 3, 1, 2, 3].

In [37]:
x = np.array([1, 2, 4, 5, 9, 3])
y = np.array([0, 2, 3, 1, 2, 3])

In [38]:
x > 3

array([False, False,  True,  True,  True, False], dtype=bool)

In [39]:
x > y

array([ True, False,  True,  True,  True, False], dtype=bool)

Python peut indexer les éléments d'un tableau qui satisfont une expression logique.

**ESSAYEZ-LE !** Soit x le même tableau que dans l'exemple précédent. Créez une variable y qui contient tous les éléments de x strictement supérieurs à 3. Attribuez à toutes les valeurs de x supérieures à 3 la valeur 0.

In [40]:
y = x[x > 3]
y

array([4, 5, 9])

In [41]:
x[x > 3] = 0
x

array([1, 2, 0, 0, 0, 3])